:root {
    --font-size: 30px;
    --font-size-small: 20px;
    --padding: 3px;
    --padding-small: 15px;
    --padding-big: 20px;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

button:hover {
    opacity: 50%;
}

.navbar {
    display: flex;
    align-items: center;
    padding: calc(var(--padding-small) * 2);
    background-color: lightgreen;
    font-size: var(--font-size);
}

.navbar .navbar-logo {
    color: darkgreen;
    margin-right: var(--padding-big);
}

.navbar .navbar-counter {
    display: inline-block;
    width: var(--font-size);
    height: var(--font-size);
    border-radius: 50%;
    background-color: darkgreen;
    color: white;
    margin-left: var(--padding-big);
    font-size: var(--font-size-small);
    text-align: center;
    line-height: var(--font-size);
}

.habits {
    padding: var(--padding-big);
}

.habits .habit-input {
    width: 300px;
    padding: var(--padding);
    font-size: var(--font-size-small);
    margin-right: var(--padding-big);
    margin-bottom: var(--padding-small);
}

.habits .habit-add {
    font-size: var(--font-size-small);
    text-transform: uppercase;
    background-color: darkgreen;
    border-radius: 3px;
    padding: var(--padding);
    color: white;
}

.habits .habits-reset {
    font-size: var(--font-size-small);
    text-transform: uppercase;
    color: white;
    background-color: darkgreen;
    border-radius: 3px;
    padding: var(--padding);
    margin-top: var(--padding-big);
}

.habit {
    display: flex;
    align-items: center;
    padding: var(--padding);
}

.habit .habit-name {
    display: inline-block;
    width: 200px;
    font-size: var(--font-size);
    margin-right: var(--padding-big);
}

.habit .habit-counter {
    display: inline-block;
    width: var(--font-size);
    height: var(--font-size);
    background-color: darkgreen;
    border-radius: 50%;
    margin-right: var(--padding-big);
    color: white;
    font-size: var(--font-size-small);
    line-height: var(--font-size);
    text-align: center;
}

.habit .habit-plus,
.habit .habit-minus,
.habit .habit-remove {
    font-size: var(--font-size);
    margin-right: var(--padding-small);
}

.habit .habit-plus {
    color: skyblue;
}

.habit .habit-minus {
    color: darkseagreen;
}

.habit .habit-remove {
    color: darksalmon;
}
